@media (min-width: 500px) {
  .form {
    min-width: 400px;
  }
}

.auth {
  background-image: url("../../assets/login.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
