.profile-page-logo {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.profile:hover .profile-page-logo div {
  opacity: 1;
}

.profile-page-logo div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: rgba(128, 128, 128, 0.578);
  height: 50px;
  width: 100%;
}

.profile-name {
  padding: 5px 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.edit-textbox,
.edit-textbox:disabled {
  outline: none;
  font-size: 25px;
  border: none;
  text-align: center;
  background: #5b59599c !important;
}
