.small-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.each-activity {
  min-width: 300px;
  width: 80%;
  margin: 10px auto;
}

.activities-container {
  min-width: 96vw;
  width: 96vw;
  margin: auto;
}

.activity-card {
  min-width: 200px;
}

@media (min-width: 600px) {
  .activity-card {
    min-width: 400px;
  }
}

.checkbox-card {
  position: absolute;
  top: 5px;
  left: 30px;
}

@media (max-width: 600px) {
  .checkbox-card {
    position: absolute;
    top: 5px;
    left: calc(100% - 60px);
  }
}

@media (max-width: 400px) {
  .adjust-justify-between {
    align-items: center !important;
  }
}
